@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}

body{
    font-family: Exo;
}


.card{
    width: 24rem;
    min-height: 40rem;
    margin-bottom: 1.25rem;
    margin-top:1.25rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}
.card-button{
    position: absolute;
    bottom:0.8em;
}

.card-title{
    margin: 0px;
}

.card-body{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.card-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

#cardRow{
    width: 100%;
    margin: 0px 0px 0px 0px;
}