@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}

body {
    font-family: "Exo", sans-serif;
    display: grid;
}

textarea:focus, input:focus{
    outline: none;
}

#contactUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}