body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

body .form-control {
    border-radius: 0;
    border: 1px black solid;
}

#btnProduct{
    background-color: #EFCFCF;
    color: #1C315E;
    border-radius: 5%;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

#btnProduct:hover {
    background-color: white;
    border: 2px solid #EFCFCF;
    padding: 0.4rem 0.85rem;
}

#btnProductCancel{
    background-color: black;
    color: #ffffff;
    border-radius: 5%;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

#btnProductCancel:hover {
    color: black;
    background-color: #ffffff;
    padding: 0.4rem 0.9rem;
    border: 2px solid black;
}

#prevImg{
    border-radius: 20%;
    border: 1px black solid;
}

.row{
    margin-right: 0;
}