input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

nav{
    background-color: #FAFAFA;
}

@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}

.nav-item{
    display: flex;
    justify-content: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.nav:hover {
    color: rgb(179, 178, 178);
}

#searchButton:hover {
    border: #000000 2px solid;
    border-radius: 50%;
}

#cancelSearch {
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    transform: translateX(15.5em);
}

#searchInput {
    height: 3em;
    color: #000000;
    padding: 0px 40px 0px 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.226);
}


#searchButton {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.459);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#user-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(min-width:992px){
    

}

@media (min-width: 767px) and (max-width: 991px){
    #navItem{
        font-size: 1.5em;
    }

    #cancelSearch {
        transform: translateX(28.5em);
    }
    #userIcon, #shoppingCart{
        width: 50px;
    }
}


