input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

nav{
    background-color: #FAFAFA;
}

@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}

.nav-item{
    display: flex;
    justify-content: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.nav:hover {
    color: rgb(179, 178, 178);
}

#searchInput {
    color: #000000;
    width: 80%;
    padding: 0px 40px 0px 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.226);
}

#user-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(min-width:1028px){
    #mainContainer{
        
    }


}

@media (min-width: 767px) and (max-width: 991px){
    #navItem{
        font-size: 1.5em;
    }

    #userIcon, #shoppingCart{
        width: 50px;
    }

    .nav-item{
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    #searchInput {
        color: #000000;
        width: 80%;
        padding: 0px 40px 0px 10px;
        border: none;
        border-radius: 8px;
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.226);
    }
}


