input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}

.navbar{
    background-color: #FAFAFA;
    position: sticky;
    top: 0;
    z-index: 9;
}

.main-headers{
    text-align: center;

}

#input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 6em;
}

#searchInput{
    height: 3em;
    color: #000000;
    padding: 0px 40px 0px 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.226);
}

#iconSearch{
    color: #191919;
    background-color: transparent;
}

#cancelSearchIcon{
    background-color: transparent;
}


#searchButton{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.459);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    transform: translateX(1vw);
}

#searchButton:hover{
    border:#000000 2px solid;
    border-radius: 50%;
}

#cancelSearch{
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    transform: translateX(18.5vw);
}

#pageLogo{
    margin-left: 5em;
}

#menuNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav{
    font-size: 17px;
    font-weight: bolder;
    font-family: Exo;

}

.nav:hover{
    color: rgb(179, 178, 178);
}

#user-wrapper{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 6em;
    margin-right: 50px;
    justify-content: space-around;
    align-items: center;
}