@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}

@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-Regular.ttf);
}

h1{
    text-align: center;
    font-family: ExoBold;
}

.container p{
    text-align: center;
    font-weight: 100;
}

main .form-control {
    border-radius: 0;
    border: 1px black solid;
}

.btnRegistro {
    background-color: #EFCFCF;
    color: black;
    border-radius: 5%;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;

}

.row > * {
    padding-left: 0;
    padding-right: 0;
}


main .form-control{
    margin-bottom: 30px;
    margin-top: 30px;
}

