@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}
body{
    font-family: Exo;
}
.navbar{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 9;
}

.main-headers{
    text-align: center;

}

.input-wrapper{
    position: relative;
    width: 313px;
    height: 42px;
}

#searchInput{
    width: 5em;
    height: 2.5em;
    color: #000000;
    padding: 0px 0px 0px 28px;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.226);
}

#iconSearch{
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

textarea:focus, input:focus{
    outline: none;
}

#menuNav{
    display: flex;
    flex-direction: row;
    width: 820px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.nav{
    font-size: 17px;
    font-weight: bolder;
    font-family: Exo;
}

.user-wrapper{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 35px;
    margin-right: 50px;
    justify-content: space-around;
    align-items: center;
}

.grid-container{
    margin-left: 5em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2em;
    align-items: center;
    justify-content: center;
}

.card{
    width: 24rem;
    height: 36rem;
}
.card-button{
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin-bottom: 20px;
}

.card-title{
    margin: 0px;
}
.card-body{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.card-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
}
.copy{
    font-size:10px;
}
#descripcion{
    text-align: justify;
    padding: 0 5em 0 0;
}