input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}
body{
    font-family: Exo;
    margin:0;
    width: 100%;
}

a{
    color: inherit;
    text-decoration:none;
 } 
 
 a:hover{
    color: rgb(207, 207, 207);
 }