input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
}
body{
    font-family: Exo;
}


textarea:focus, input:focus{
    outline: none;
}

.grid-container{
    margin-left: 5em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2em;
    align-items: center;
    justify-content: center;
}

.card{
    width: 24rem;
    height: 36rem;
}
.card-button{
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin-bottom: 20px;
}

.card-title{
    margin: 0px;
}
.card-body{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.card-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
}
.copy{
    font-size:10px;
}
#descripcion{
    text-align: justify;
    padding: 0 5em 0 0;
}

.contact-container{
    margin-left: 5em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 2em;
    align-items: center;
    justify-content: center;
}

#contactUs{
    text-align: justify;
    padding: 3em 10em 0em 10em;
}

#formContact{
    text-align: justify;
    padding: 3em 5em 0em 0em;
}

